:root {
    --background-color: #d6e2d4;
    --button-color: #007f3d;
    --logo-url: url("../img/jugsaxonyday24.png");

    /*--background-color: #ffa93b;*/
    /*--logo-url: url("../img/logo.svg");*/
    /*--logo-url: url("https://2024.springio.net/images/hero-bg-2000.png");*/
}

.login-pf body {
    background: var(--background-color);
}

.card-pf {
    border-radius: 20px;
    border: 2px;
}

#kc-header-wrapper {
    text-transform: none;
}

.login-pf-page .login-pf-header h1 {
    text-align: left;
}

body {
    font-family: Verdana, sans-serif;
}

.pf-c-button.pf-m-primary {
    /*background-color: #faa020;*/
    background-color: var(--button-color);
}

/*.custom-form-group {*/
/*    margin-bottom: 30px;*/
/*}*/

#kc-header-wrapper {
    background-image: var(--logo-url);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 200px;
    padding-top: 140px;
    margin-top: 30px;
}